* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(204, 6%, 85%);
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 20px;
    gap: 50px;
    padding: 30px;
    background-color: hsl(205, 100%, 96%);
    max-width: 700px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.text-between {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.header-list {
    list-style: none;
    padding: 10px;
}

.email-address {
    text-transform: none;
}

.amir-ali {
    border-radius: 50px;
    max-width: 100%;
    height: 250px;
}

.section-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.section-list > ul > a {
    text-decoration: none;
}

.section-top-text {
    padding: 20px;
    margin: 10px;
}

.img {
    max-width: 350px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.section {
    background-color: hsl(205, 100%, 96%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 50px;
}